<!DOCTYPE html>
<html lang="vi-VN">
<head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="content-language" content="vi-VN"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="shortcut icon" href="https://animeow.pro/favicon.ico" type="image/x-icon"/>

    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <!-- Facebook Metadata /-->
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:site_name" content="AniMeow"/>
    <meta property="og:type" content="video.movie"/>

    <!-- Google+ Metadata /-->
    <meta itemprop="name" content=""/>
    <meta itemprop="description" content=""/>
    <meta itemprop="image" content=""/>

    <link rel="preconnect" href="https://www.googletagmanager.com">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="preload" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" media="print" onload="this.media='all'">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://statics.animeow.pro/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" integrity="sha512-KulI0psuJQK8UMpOeiMLDXJtGOZEBm8RZNTyBBHIWqoXoPMFcw+L5AEo0YMpsW8BfiuWrdD1rH6GWGgQBF59Lg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NZQ8M67');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
<div id="wrapper">
    <!--Begin: Main-->
    <div id="main-wrapper" class="layout-page layout-page-404">
        <div class="container">
            <div class="container-404 text-center">
                <div class="c4-medium">Our service is not available in your area</div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--End: Main-->
</div>

<%- include('./base/common-js') %>
</body>
</html>