<div id="remark42"></div>

<script>
    var remark_config={host:"https://remark42.animeow.pro",site_id:"remark42.animeow",components:["embed","counter"],max_shown_comments:10,theme:"dark",url:window.location.origin+"/watch/<%= anime.slug %>",page_title:"<%= anime.tittle %>",locale:"vi",show_email_subscription:!1,simple_view:!0,show_rss_subscription:!1,no_footer:!0};!function(e,o){for(var r=0;r<e.length;r++){var n=o.createElement("script"),i=".js",t=o.head||o.body;"noModule"in n?(n.type="module",i=".mjs"):n.async=!0,n.defer=!0,n.src=remark_config.host+"/web/"+e[r]+i,t.appendChild(n)}}(remark_config.components||["embed"],document);
</script>