<section class="block_area block_area_sidebar block_area-realtime">
    <div style="background: white; border-radius: 6px" class="block_area-content">
        <div class="fb-comments" data-href="https://animeow.pro/ %>"
             data-width="100%" data-numposts="5" data-order-by="reverse_time"></div>
        <div class="clearfix"></div>
    </div>
</section>