<div id="header">
    <div class="container">
        <div id="site_menu">
            <div class="site_menu-icon"><i class="fa fa-bars"></i></div>
            <div id="header_menu">
                <ul class="nav header_menu-list">
                    <li class="nav-item"><a href="/">Trang Chủ</a></li>
                    <li class="nav-item"><a href="/">Tin Tức</a></li>
                    <li class="nav-item"><a>Thể Loại</a>
                        <div class="header_menu-sub size-l">
                            <ul class="sub-menu">
                                <% genres.forEach(function(genre){ %>
                                    <li><a href="/the-loai/<%= genre.slug %>"
                                           title="<%= genre.name %>"><%= genre.name %></a></li>
                                <% }) %>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li class="nav-item"><a>Loại Anime</a>
                        <div class="header_menu-sub">
                            <ul class="sub-menu">
                                <li><a href="/">Movies</a></li>
                                <li><a href="/">TV Series</a></li>
                                <li><a href="/">OVAs</a></li>
                                <li><a href="/">ONAs</a></li>
                                <li><a href="/">Specials</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <a href="/" id="logo">
            <img src="https://ik.imagekit.io/3q7pewvsl/logo/logo.png" alt="AniMeow" width="105" height="50">
            <div class="clearfix"></div>
        </a>
        <div id="search">
            <div class="search-content">
                <form autocomplete="off">
                    <input type="search" class="form-control search-input" placeholder="Tìm kiếm anime">
                    <button type="button" class="search-icon"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
        <div id="header_right">
            <div id="m-search" class="mobile-btn"><i class="fas fa-search"></i></div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>