<title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="content-language" content="vi-VN"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link rel="shortcut icon" href="https://animeow.pro/favicon.ico" type="image/x-icon"/>

<meta name="description"
      content="Xem phim anime vietsub online xem trên điện thoại di động và máy tính. Là một website xem phim anime vietsub miễn phí."/>
<meta name="keywords"
      content="animeow, ani meow, animeowpro, anime, anime vietsub, anime viet sub, xem anime, xem anime online, anime miễn phí, anime hay, online anime, xem anime"/>

<!-- Facebook Metadata /-->
<meta property="og:image" content="https://ik.imagekit.io/3q7pewvsl/thumbnail/thumbnail.webp"/>
<meta property="og:url" content="https://animeow.pro"/>
<meta property="og:description"
      content="Xem phim anime vietsub online xem trên điện thoại di động và máy tính. Là một website xem phim anime vietsub miễn phí."/>
<meta property="og:title" content="Anime Vietsub Online"/>
<meta property="og:site_name" content="AniMeow"/>
<meta property="og:type" content="video.movie"/>

<!-- Google+ Metadata /-->
<meta itemprop="name" content="Anime Vietsub Online"/>
<meta itemprop="description"
      content="Xem phim anime vietsub online xem trên điện thoại di động và máy tính. Là một website xem phim anime vietsub miễn phí."/>
<meta itemprop="image" content="https://ik.imagekit.io/3q7pewvsl/thumbnail/thumbnail.webp"/>

<!-- Css Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.css">
<link href="https://cdn.jsdelivr.net/npm/video.js@8.0.4/dist/video-js.min.css" rel="stylesheet">
<link href="https://unpkg.com/@videojs/themes@1/dist/fantasy/index.css" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css" type="text/css">
<!-- Google Tag Manager -->
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NZQ8M67');</script>
<!-- End Google Tag Manager -->
